<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12 text-center">
            <!-- Título -->
            <h1 class="display-1">ERRO 404</h1>

            <!-- Descrição do erro -->
            <p class="lead">A página que você procura não existe!</p>
        </div>
    </div>
</div>
<%- include('includes/footer'); %>