<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12 text-center">
            <!-- Título -->
            <h1 class="display-1">Agenda</h1>

            <!-- Descrição Home -->
            <p class="lead">Salve seus contatos de forma rápido e fácil!</p>
        </div>

        <!-- Seção da Tabela -->

        <div class="container">
            <div class="table-responsive text-center">
                <table class="table my-3 mx-auto">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Telefone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Valesk</td>
                            <td>Paes</td>
                            <td>(98) 96951-0487</td>
                            <td>valeska.alentejo@geradornv.com.br</td>
                        </tr>
                        <tr>
                            <td>Luis</td>
                            <td>Gustavo</td>
                            <td>(67) 99898-5544</td>
                            <td>Luisgustavo@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Marcela</td>
                            <td>Cocelo</td>
                            <td>(49) 98744-9448</td>
                            <td>marcela.pessoa@geradornv.com.br</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
<%- include('includes/footer'); %>